<div class="main-body">
  <div>
    <ul>
      <li *ngFor="let us of backLogList">
        <app-kanban-body-item [userStory]="us"></app-kanban-body-item>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li *ngFor="let us of backLogList">
        <app-kanban-body-item [userStory]="us"></app-kanban-body-item>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li *ngFor="let us of backLogList">
        <app-kanban-body-item [userStory]="us"></app-kanban-body-item>
      </li>
    </ul>
  </div>
</div>
