.main-header {
  background-color: white;
  /*float: none;*/
  margin: 0px;
  padding: 10px;
  height: 45px;

}

.header-column {
  text-align: center;
  background-color: gainsboro;
  padding: 10px 30px 10px;
  border: solid;
  border-color: #999999;
  border-width: 5px;
  width: 30%;
  height: auto;
  float: left;
}

.header-addnew {
  color: white;
  text-align: center;
  background-color: darkgreen;
  padding: 10px 30px 10px;
  border: solid;
  border-color: #999999;
  border-width: 0;
  width: auto;
  height: auto;
  border-radius: 8px;
}
