<div class="kbItem">
  <!--<div><b>{{name}}</b></div>
  <div>{{description}}</div>-->
<!--TODO click and could be edit UserStorys detail-->
  <!--TODO : could be drat and drop to different status-->
  <div class="kbUserStory"><b>{{userStory.name}}</b></div>
  <div class="kbDescription"><b>Description:</b>{{userStory.description}}</div>
  <div class="kbStoryPoint"><b>Story Point:</b>{{userStory.storyPoint}}</div>
  <div class="kbPriority"><b>Priority:</b>{{userStory.progress}}</div>
  <div class="kbImportance"><b>Importance:</b>{{userStory.progress}}</div>
</div>
