<div class="kbItem">
  <!--<div><b>{{name}}</b></div>
  <div>{{description}}</div>-->

  <div class="kbUserStory"><b>CVCDEV-2075</b></div>
  <div class="kbDescription"><b>Description:</b> As a Partner, I can view product offer detail for API type service to get comerhencive understanding ofr its usage so I can decide to by or not.</div>
  <div class="kbStoryPoint"><b>Story Point:</b> 10</div>
  <div class="kbPriority"><b>Priority:</b> Low</div>
  <div class="kbImportance"><b>Importance:</b> Low</div>
</div>
