.header-bar {
  /*background-color: #020B48;*/
  background-color: white;
  margin: 0px;
  padding: 10px;
}

.primary-btn {
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-color: white;
  /*color: green;*/
}

.second-btn{
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-color: white;
  /*color: red;*/
}
/*.body,td,th {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;color: #1d1007; line-height:24px}*/

/*.kbBody{*/
/*background-color: #040B27;*/
/*margin: 0px;*/
/*padding: 10px;*/
/*}*/
