.main-header {
  /* background-color: white; */
  /*float: none;*/
  /* margin: 0px; */
  /* padding: 10px; */
  height: 45px;
  width: auto;
}

.header-column {
  text-align: center;
  background-color: gainsboro;
  margin: 10px;
  padding: 10px;
  border: solid;
  /* border-color: #999999; */
  /* border-width: 5px; */
  width: 30%;
  height: 50px;
  float: left;
  border-style: solid;
  border-width: 1px;
}

.header-addnew {
  color: white;
  text-align: center;
  background-color: darkgreen;
  padding: 10px 30px 10px;
  border: solid;
  border-color: #999999;
  border-width: 0;
  width: auto;
  height: auto;
  border-radius: 8px;
}
