.item {
    float: left;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #b3d4fc;
    margin: 10px;
    padding: 2px;
    float: left;
    border-radius: 5px;
    width: 180px;
}



.kbItem{

    float: left;

}

.width100pr{
    width: 100%;
}
