<div class="kbItem">
    <!--<div><b>{{name}}</b></div>
    <div>{{description}}</div>-->
  <!--TODO click and could be edit UserStorys detail-->
    <!--TODO : could be drat and drop to different status-->
    <div class="kbUserStory"><b>{{userStory.name}}</b></div>
    <div class="kbUserStory"><b>Description:</b>
      <label>
        <input [(ngModel)]="current.description" placeholder="description">
      </label>
      <!--<input [(ngModel)]="userStory" placeholder="name">-->
      <!--{{userStory.description}}-->
    </div>
    <div class="kbUserStory"><b>Story Point:</b>
      <input [(ngModel)]="current.storyPoint" placeholder="description">
    </div>
    <div class="kbUserStory"><b>Priority:</b>
      <input [(ngModel)]="current.priority" placeholder="description">
    </div>
    <div class="kbUserStory"><b>Importance:</b>
      <input [(ngModel)]="current.importance" placeholder="description">
    </div>
    <div class="btn-box">
      <!--<div class="second-btn">Delete</div>-->
      <div class="primary-btn" (click)="showDetail(current.id)">Detail</div>
      <div class="second-btn" (click)="delDetail(current.id)">Del</div>
    </div>

  </div>
